/**
 * Button
 */

button,
.button {
  position: relative;
  border: none;
  border-radius: 2px;
  background-color: #00acee;
  box-shadow: 1px 1px 0 rgba(17,17,17,0.2);
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  min-height: 2.4em;
  cursor: pointer;
}