/**
 * Button
 */

button,
.button {
  position: relative;
  border: none;
  background-color: #9266cc;
  box-shadow: 1px 1px 0 rgba(17,17,17,0.2);
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  min-height: 2.4em;
  cursor: pointer;
  padding: 0 1em;
}
