/**
 * Columns
 */

.column {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateZ(0);
  background: #fff;
}

.column-loader {
  height: 3em;
  color: #aab8c2;
  text-align: center;
  overflow: hidden;
  background: #f5f8fa;
  transition: background-color 100ms linear;
}

.column-loader--loading {
  background: rgba(#f5f8fa, 0);
}

.column-loader-button {
  color: #aab8c2;
  box-shadow: none;
  font-weight: normal;
  border-radius: 0;
  border: none;
  margin: 0;
  width: 100%;
  padding: 1em 0;
  background: transparent;
  line-height: 1;
}

.column-loader-spinner img {
  height: 3em;
  width: 3em;
}