/**
 * Header
 */

.app-header {
  z-index: 200;
  background: #9266cc;
  @include display-flex;
}

.app-title {
  position: relative;
  padding: 14px 17px;

  & .logo {
    display: block;
    height: 24px;
    width: 24px;
  }
}

.column-headings-nav {
  @include flex(1);
  @include flex-flow(column);
  @include justify-content(center);
  @include display-flex;
  color: #fff;
  margin-right: 58px;
  overflow: hidden;
  position: relative;

  @media (min-width: 500px) and (min-height: 500px) {
    display: none;
  }

  &::before,
  &::after {
    content: '';
    width: 10%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, #9266cc, rgba(#9266cc, 0));
    z-index: 1;
  }

  &::after {
    left: auto;
    right: 0;
    background: linear-gradient(to left, #9266cc, rgba(#9266cc, 0));
  }
}

.column-headings-nav-panner {
  @include display-flex;
  margin: 0;
  padding: 0;
  list-style: none;
  // triggering gap at the end of scroll - there must be a better way than this
  &::after {
    content: '';
    min-width: 1px;
  }
}

.column-headings-nav-item {
  @include flex(1);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 80%;
  margin: 0 10%;
  padding: 0;
  display: block;
}

.column-headings-nav-pips {
  @include display-flex;
  @include flex-flow(row wrap);
  @include justify-content(center);

  & .pip {
    position: relative;
    width: 5px;
    height: 5px;
    margin: 1px 2px;
    border: 1px solid #fff;
    border-radius: 5px;
    z-index: 2;
  }

  & .pip-fill {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 7px;
    height: 7px;
    background: #fff;
    opacity: 0;
    will-change: opacity;
    border-radius: 7px;
  }
}
