/**
 * Login
 */

.login-form__field-group input {
  font-size: 1.2em;
  height: 2.4em;
  margin: 0 0 0.667em;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.5em;
}

.login-form__error-message {
  color: red;
}

.login-form__submit-button {
  float: right;
  margin: 0 0 0.667em;
  font-size: 1.2em;
}

@media (max-width: 500px) {
  .login-form__submit-button {
    width: 100%;
  }
}
