/**
 * Media
 */

.media {
  overflow: hidden;
}
.media__img {
  float: left;
  margin-right: 0.667em;
}
.media__img--rev {
  float: right;
  margin-left: 0.667em;
}
.media__body {
  overflow: hidden;
}