/**
 * Modal Dialog
 */

.modal-dialog {
  box-sizing: border-box;
  overflow: auto;
  border: 1px solid #aab8c2;
  background-color: #f5f8fa;
  padding: 1.5em 2em;
  @include transform(translate3d(0, 51px, 0));
  @include transition(opacity 0.5s);
  opacity: 1;
}

.modal-dialog.closed {
  opacity: 0;
}

@media (min-width: 500px) {
  .modal-dialog {
    width: 350px;
    margin: auto;
  }
}

.modal-overlay {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
}
