/**
 * Tweet
 */


%abstract-tweet {
  text-align: center;
  padding: 40px 0 0;
  margin: 0 auto;
  line-height: 1.4;
  font-size: 1.05rem;
  font-size: 5.2vw;
  overflow: hidden;
  position: relative;
  
  @media (min-width: 400px) {
    font-size: 1.3rem;
    width: 400px;
  }
}

.tweet {
  @extend %abstract-tweet;
  
  & + .tweet {
    border-top: 1px solid #D1D3D4;
  }
}

.tweet-hero {
  @extend %abstract-tweet;
  background: #000;
  color: #fff;
}

.tweet__title {
  margin: 0 0 0;
  padding: 0 10px;
  font-weight: normal;
  font-size: inherit;
}

.tweet__hero-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}

.tweet__hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.4;
}

.tweet__content {
  position: relative;
}

.tweet__avatar {
  display: block;
  margin: 0 auto 1em;
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.tweet__name-combo {
  overflow: hidden;
  text-overflow: ellipsis;
}

.tweet__name {
  font-weight: bold;
}

.tweet__title-text {
  @include display-flex;
  white-space: nowrap;
}

.tweet__time, 
.tweet__time--spacer {
  @include min-width-min-content;
  @include flex(1);
  text-align: right;
  text-transform: uppercase;
  font-weight: normal;
  color: #B8C5CD;
  margin-left: 6px;
}

.tweet__time--spacer {
  visibility: hidden;
}

.tweet__body {
  padding: 0 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tweet__actions {
  text-align: right;
  padding: 40px 10px 20px;
  fill: #CCD6DD;
  color: #CCD6DD;
}

%tweet__action-button {
  @extend .unbutton;

  vertical-align: middle;
  width: 31px;
  height: 21px;

  & svg {
    width: 100%;
    height: 100%;
  }
}

.tweet__rt-button,
.tweet__fav-button {
  @extend %tweet__action-button;
}

.tweet__fav-button {
  width: 20px;
}

.tweet__fav-count,
.tweet__rt-count {
  display: inline-block;
  vertical-align: middle;
  min-width: 41px;
  margin-right: 5px;
  box-sizing: border-box;
  padding-left: 9px;
}

// dunno if there's a more BEMmy way of doing this
.tweet-hero {
  & .tweet__actions {
    fill: #fff;
    color: #fff;
  }
}