/**
 * Tweet
 */

.tweet {
  text-align: center;
  padding: 40px 0;
  line-height: 1.4;
  font-size: 0.9rem;
  font-size: 3.9vw;

  @media (min-width: 500px) and (min-height: 500px) {
    font-size: 0.9rem;
  }
}

.tweet__title {
  margin: 0 0 0;
  padding: 0 10px;
}

.tweet__avatar {
  display: block;
  margin: 0 auto 1em;
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.tweet__name {
  margin: 0 0.3em 0 0;
}

.tweet__username {
  font-weight: normal;
}

.tweet__title-text {
  @include display-flex;
  white-space: nowrap;

  &::before {
    content: '';
    @include flex(1);
  }
}

.tweet__time {
  @include flex(1);
  text-align: right;
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(#000, 0.4);
}

.tweet__body {
  padding: 0 40px;
}