/**
 * Page layout
 */

.content, .app {
  height: 100%;
  overflow: hidden;
}

.page {
  @include display-flex;
  @include flex-flow(column);
  height: 100%;
  overflow: hidden;
}

/**
 * Header
 */

.app-header {
  background: #55acee;
  @include display-flex;
}

.app-title {
  position: relative;
  padding: 14px 17px;

  & .logo {
    display: block;
    height: 24px;
    width: 24px;
  }
}

.column-headings-nav {
  @include flex(1);
  @include flex-flow(column);
  @include justify-content(center);
  @include display-flex;
  color: #fff;
  margin-right: 58px;
  overflow: hidden;
  position: relative;

  @media (min-width: 500px) and (min-height: 500px) {
    display: none;
  }

  &::before,
  &::after {
    content: '';
    width: 10%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, #55acee, rgba(#55acee, 0));
    z-index: 1;
  }

  &::after {
    left: auto;
    right: 0;
    background: linear-gradient(to left, #55acee, rgba(#55acee, 0));
  }
}

.column-headings-nav-panner {
  @include display-flex;
  margin: 0;
  padding: 0;
  list-style: none;
  // triggering gap at the end of scroll - there must be a better way than this
  &::after {
    content: '';
    min-width: 1px;
  }
}

.column-headings-nav-item {
  @include flex(1);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 80%;
  margin: 0 10%;
  padding: 0;
  display: block;
}

.column-headings-nav-pips {
  @include display-flex;
  @include flex-flow(row wrap);
  @include justify-content(center);

  & .pip {
    position: relative;
    width: 5px;
    height: 5px;
    margin: 1px 2px;
    border: 1px solid #fff;
    border-radius: 5px;
    z-index: 2;
  }

  & .pip-fill {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 7px;
    height: 7px;
    background: #fff;
    opacity: 0;
    will-change: opacity;
    border-radius: 7px;
  }
}

/**
 * Columns
 */

.columns {
  height: 100%;
  @include flex(1);
  @include display-flex;
  overflow-x: auto;
  overflow-y: hidden;
  background: #ddd;

}

.column-panner {
  @include display-flex;
  @media (min-width: 500px) and (min-height: 500px) {
    // triggering gap at the end of scroll - there must be a better way than this
    &::after {
      content: '';
      min-width: 1px;
    }
  }
}

.column {
  background: #fff;
  min-width: 100%;
  @include display-flex;
  @include flex-flow(column);

  @media (min-width: 500px) and (min-height: 500px) {
    min-width: 300px;
    margin: 20px 20px 20px 0;
    &:first-child {
      margin-left: 20px;
    }
  }
}

.column-header {
  background: #eee;
  color: #111;
  border-bottom: 2px solid #ddd;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: none;
  font-size: 1.4rem;
  padding: 9px 15px;

  @media (min-width: 500px) and (min-height: 500px) {
    display: block;
  }
}

.column-scroller {
  @include flex(1);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}


/** 
 * Media
 */

.media {
  overflow: hidden;
}
.media__img {
  float: left;
  margin-right: 0.667em;
}
.media__img--rev {
  float: right;
  margin-left: 0.667em;
}
.media__body {
  overflow: hidden;
}

/**
 * Tweet
 */

.tweet {
  padding: 0.667em 1em;
}

.fake-img {
  width: 30px;
  height: 30px;
  background: #e1e8ed;
}
