html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font: 14px/1.4 sans-serif;
  color: #292f33;
}

img {
    max-width: 100%;
}

a {

  &:link,
  &:visited {
    text-decoration: none;
    color: #9266CC;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}