/**
 * Page layout
 */

.logo {
  width: 100%;
  height: 35px;
  fill: #55acee;
  margin: 24px 0;
  @include transition(transform 100ms ease-in);
}

.logo:active {
  @include transform(scale(1.1));
}

.content,
.app {
  height: 100%;
}