<form class="login-form" method="POST">
  <div>
    <label>Twitter username: <input type="text" name="username" required></label>
  </div>
  <div>
    <label>Password: <input type="password" name="password" required></label>
  </div>
  <div><button type="submit">Log in</button></div>
  <div class="status"></div>
  <img src="static/imgs/spinner.gif" alt="loading" class="spinner">
</form>
